In [5]:
def temp1(x,y):
    x += 333 ;
    xx = x+y*343
    return x, xx

ff = temp1(3,33)
print(ff, type(ff))
print(temp1(3,33))
print(type(temp1(3,33)))

x1 , x2 = temp1(3,33)

(336, 11655) <class 'tuple'>
(336, 11655)
<class 'tuple'>

In [4]:
print(x1,x2)
print(type(x1), type(x2))

336 11655
<class 'int'> <class 'int'>

In [8]:
print(ff[1])

11655

In [13]:
def is_power_of_two(n):
  # Check if the number can be divided by two without a remainder
    while n % 2 == 0:
        n = n / 2

        print(n)    
  # If after dividing by two the number is 1, it's a power of two
    if n == 1:
        return True
    return False

# print(is_power_of_two(0)) # Should be False
print(is_power_of_two(1)) # Should be True
print(is_power_of_two(8)) # Should be True
print(is_power_of_two(9)) # Should be False

True
4.0
2.0
1.0
True
False

In [24]:
for i in range(5,30,3):
    print(i, end=" xxx ")
    print()

5 xxx
8 xxx
11 xxx
14 xxx
17 xxx
20 xxx
23 xxx
26 xxx
29 xxx

In [26]:
teams = [ 'Dragons', 'Wolves', 'Pandas', 'Unicorns']
for home_team in teams:
    for away_team in teams:
        while home_team != away_team:
            print(home_team+'vs'+away_team)
            break

DragonsvsWolves
DragonsvsPandas
DragonsvsUnicorns
WolvesvsDragons
WolvesvsPandas
WolvesvsUnicorns
PandasvsDragons
PandasvsWolves
PandasvsUnicorns
UnicornsvsDragons
UnicornsvsWolves
UnicornsvsPandas

In [40]:
# Recursion

def factorial(n):
    if n < 2 :
        return 1
    return n*factorial(n-1)

factorial(200)

788657867364790503552363213932185062295135977687173263294742533244359449963403342920304284011984623904177212138919638830257642790242637105061926624952829931113462857270763317237396988943922445621451664240254033291864131227428294853277524242407573903240321257405579568660226031904170324062351700858796178922222789623703897374720000000000000000000000000000000000000000000000000

In [41]:
for x in range(1, 10, 3):
    print(x)

1
4
7

In [46]:
x1 = 'sss'
x2 = 333

print('dfdf {x2}, ff {x1}'.format(x1= x1, x2= x2))
print('dfdf {x2}, ff {x1}')

dfdf 333, ff sss
dfdf {x2}, ff {x1}

In [47]:
test = [2,3,4,5]
test.pop(2)

4

In [48]:
test

[2, 3, 5]

In [52]:
def file_size(file_info):
	name, type, size = file_info
	return("{:.2f}".format(size / 1024))

print(file_size(('Class Assignment', 'docx', 17875))) # Should print 17.46
print(file_size(['Class Assignment', 'docx', 17875])) # Should print 17.46

17.46
17.46

In [53]:
import timeit
timeit.timeit('"-".join(str(n) for n in range(10000))', number= 10000)

15.38620487501612

In [67]:
aninal = [['f',3] , ['ff', 32], ['sdf', 4111]]

for a, i  in enumerate(aninal) :
    print (a, i)
    print(type(i))

0 ['f', 3]
<class 'list'>
1 ['ff', 32]
<class 'list'>
2 ['sdf', 4111]
<class 'list'>

In [69]:
# list compprehension
m = [i*7 for i in range(10)]
print(m)

[0, 7, 14, 21, 28, 35, 42, 49, 56, 63]

In [70]:
m.pop(1)

7

In [71]:
m

[0, 14, 21, 28, 35, 42, 49, 56, 63]

In [74]:
m.remove(m[3])
m

[14, 21, 28, 42, 49, 56, 63]

In [82]:
def octal_to_string(octal):
    result = ""
    value_letters = [(4,"r"),(2,"w"),(1,"x")]
    
    # Iterate over each of the digits in octal
    for number in [int(n) for n in str(octal)]:
        # print(number) 
        # print(type(number))
       
        if number == 7 :
            user = "rwx"
        elif number == 6 :
            user = "rw-"
        elif number == 5 :
            user = 'r-x'
        elif number == 4 :
            user = "r--"
        elif number == 0 :
            user = "---"
        print(user)
        result += user

    return result
    
print(octal_to_string(755)) # Should be rwxr-xr-x
print(octal_to_string(644)) # Should be rw-r--r--
print(octal_to_string(750)) # Should be rwxr-x---
print(octal_to_string(600)) # Should be rw-------

rwx
r-x
r-x
rwxr-xr-x
rw-
r--
r--
rw-r--r--
rwx
r-x
---
rwxr-x---
rw-
---
---
rw-------

In [88]:
def group_list(group, users):
  members = ",".join(users)
  return (group +": " + members)
     

print(group_list("Marketing", ["Mike", "Karen", "Jake", "Tasha"])) # Should be "Marketing: Mike, Karen, Jake, Tasha"
print(group_list("Engineering", ["Kim", "Jay", "Tom"])) # Should be "Engineering: Kim, Jay, Tom"
print(group_list("Users", "")) # Should be "Users:"

Marketing: Mike,Karen,Jake,Tasha
Engineering: Kim,Jay,Tom
Users:

In [89]:
def guest_list(guests):
	for i ,j , k in guests:
		 
		print("{} is {} years old and works as {}".format(i,j,k))

guest_list([('Ken', 30, "Chef"), ("Pat", 35, 'Lawyer'), ('Amanda', 25, "Engineer")])

#Click Run to submit code
"""
Output should match:
Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer
"""

Ken is 30 years old and works as Chef
Pat is 35 years old and works as Lawyer
Amanda is 25 years old and works as Engineer

'\nOutput should match:\nKen is 30 years old and works as Chef\nPat is 35 years old and works as Lawyer\nAmanda is 25 years old and works as Engineer\n'

In [105]:
x1= ["Kim", "Jay", "Tom"]

In [113]:
x1= ["Kim", "Jay", "Tom"]
print(x1)
x1.remove("Kim")
print(x1)

['Kim', 'Jay', 'Tom']
['Jay', 'Tom']

In [114]:
del x1[1]
print(x1)

['Jay']

In [94]:
xx

{'ddd': 4}

In [118]:
xx = {'sdf':333, 'ddd':4}
print(xx)
del xx['ddd']
print(xx)

{'sdf': 333, 'ddd': 4}
{'sdf': 333}

In [121]:
toc = {"Introduction":1, "Chapter 1":4, "Chapter 2":11, "Chapter 3":25, "Chapter 4":30}
toc["Epilogue"] = 39 # Epilogue starts on page 39
toc["Chapter 3"] = 24 # Chapter 3 now starts on page 24
print(toc) # What are the current contents of the dictionary?
print("chapter5" in toc) # Is there a Chapter 5?

{'Introduction': 1, 'Chapter 1': 4, 'Chapter 2': 11, 'Chapter 3': 24, 'Chapter 4': 30, 'Epilogue': 39}
False

In [134]:
for i in toc :
    print(i)
for i  in toc :
    print(toc[i])
for i , j in toc.items() :
    print(i, j )
print(toc.keys())
print(toc.values())

Introduction
Chapter 1
Chapter 2
Chapter 3
Chapter 4
Epilogue
1
4
11
24
30
39
Introduction 1
Chapter 1 4
Chapter 2 11
Chapter 3 24
Chapter 4 30
Epilogue 39
dict_keys(['Introduction', 'Chapter 1', 'Chapter 2', 'Chapter 3', 'Chapter 4', 'Epilogue'])
dict_values([1, 4, 11, 24, 30, 39])

In [140]:
 print(toc)
 print(toc.get("Chapter 1"))

{'Introduction': 1, 'Chapter 1': 4, 'Chapter 2': 11, 'Chapter 3': 24, 'Chapter 4': 30, 'Epilogue': 39}
4

In [143]:
toc.keys()

dict_keys(['Introduction', 'Chapter 1', 'Chapter 2', 'Chapter 3', 'Chapter 4', 'Epilogue'])

In [145]:
lst1 = list(toc.values())
print(4 in lst1)

True

In [218]:
def email_list(domains):
	emails = []
	for i in domains.keys():
		for user in domains[i]:
			full_address = user + "@"+ i
			emails.append(full_address)
	return(emails)

print(email_list({"gmail.com": ["clark.kent", "diana.prince", "peter.parker"], "yahoo.com": ["barbara.gordon", "jean.grey"], "hotmail.com": ["bruce.wayne"]}))

['clark.kent@gmail.com', 'diana.prince@gmail.com', 'peter.parker@gmail.com', 'barbara.gordon@yahoo.com', 'jean.grey@yahoo.com', 'bruce.wayne@hotmail.com']

In [2]:
temp1 = {'xx':33, 'yy': 44}

local = "xxz"
value1 = 'admin'
temp1[locals]= value1

temp1.update({local:value1})
print(temp1)

{'xx': 33, 'yy': 44, <built-in function locals>: 'admin', 'xxz': 'admin'}

In [69]:
def groups_per_user(group_dictionary):
	user_groups = {}
	# Go through group_dictionary
	for i in group_dictionary.keys() :
		# Now go through the users in the group
		# print(i)
		for j in group_dictionary[i] :
			lst = list()
			lst.append(i)
			if j in user_groups.keys() :
				user_groups[j] += lst
			else :
				user_groups[j] = lst
	return user_groups
print(groups_per_user({"local": ["admin", "userA"],"public":  ["admin", "userB"], "administrator": ["admin"] }))

{'admin': ['local', 'public', 'administrator'], 'userA': ['local'], 'userB': ['public']}

In [76]:
def format_address(address_string):

    element_all = address_string.split()

    elemment_number = element_all[0]
    element_street = element_all[1:]
    street = ""
    for i in element_street :
        street +=  " "+ i

    return "house number {} on street named {}".format(elemment_number,street)

print(format_address("123 Main Street"))
# Should print: "house number 123 on street named Main Street"

print(format_address("1001 1st Ave"))
# Should print: "house number 1001 on street named 1st Ave"

print(format_address("55 North Center Drive"))
# Should print "house number 55 on street named North Center Drive"

house number 123 on street named  Main Street
house number 1001 on street named  1st Ave
house number 55 on street named  North Center Drive

In [86]:
def highlight_word(sentence, word):
    i = sentence.index(word)



    return(sentence[:i] + ( word.upper()) + ( sentence[(i+len(word)):]))


print(highlight_word("Have a nice day", "nice"))
print(highlight_word("Shhh, don't be so loud!", "loud"))
print(highlight_word("Automating with Python is fun", "fun"))

Have a NICE day
Shhh, don't be so LOUD!
Automating with Python is FUN

In [106]:
def combine_lists(list1, list2):

    list1_reverse = list1[::-1]
    print(list1_reverse)

    for i in list1_reverse :
        list2.append(i)
    return list2
  
	
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

print(combine_lists(Jamies_list, Drews_list))

['Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']
['Mike', 'Carol', 'Greg', 'Marcia', 'Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']

In [107]:
def combine_lists(list1, list2):

    list1_reverse = list1[::-1]
    print(list1_reverse)

    list1_reverse.extend(list2)
    return list1_reverse
  
	
Jamies_list = ["Alice", "Cindy", "Bobby", "Jan", "Peter"]
Drews_list = ["Mike", "Carol", "Greg", "Marcia"]

print(combine_lists(Jamies_list, Drews_list))

['Peter', 'Jan', 'Bobby', 'Cindy', 'Alice']
['Peter', 'Jan', 'Bobby', 'Cindy', 'Alice', 'Mike', 'Carol', 'Greg', 'Marcia']

In [109]:
def squares(start, end):
	return [ x**2 for x in range(start, end+1) ]

print(squares(2, 3)) # Should be [4, 9]
print(squares(1, 5)) # Should be [1, 4, 9, 16, 25]
print(squares(0, 10)) # Should be [0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[4, 9]
[1, 4, 9, 16, 25]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [110]:
def car_listing(car_prices):
  result = ""
  for i in car_prices.keys() :
    result += "{} costs {} dollars".format(i, car_prices[i]) + "\n"
  return result

print(car_listing({"Kia Soul":19000, "Lamborghini Diablo":55000, "Ford Fiesta":13000, "Toyota Prius":24000}))

Kia Soul costs 19000 dollars
Lamborghini Diablo costs 55000 dollars
Ford Fiesta costs 13000 dollars
Toyota Prius costs 24000 dollars

In [112]:
def combine_guests(guests1, guests2):
  # Combine both dictionaries into one, with each key listed 
  # only once, and the value from guests1 taking precedence
  guests2.update(guests1)
  return guests2

Rorys_guests = { "Adam":2, "Brenda":3, "David":1, "Jose":3, "Charlotte":2, "Terry":1, "Robert":4}
Taylors_guests = { "David":4, "Nancy":1, "Robert":2, "Adam":1, "Samantha":3, "Chris":5}

print(combine_guests(Rorys_guests, Taylors_guests))

{'David': 1, 'Nancy': 1, 'Robert': 4, 'Adam': 2, 'Samantha': 3, 'Chris': 5, 'Brenda': 3, 'Jose': 3, 'Charlotte': 2, 'Terry': 1}

In [119]:
def count_letters(text):
  result = {}
  # Go through each letter in the text
  for letter in text.lower() :
    print(text.lower())
    # Check if the letter needs to be counted or not
    if letter.isalpha() == True :
    # Add or increment the value in the dictionary
        print(letter.isalpha())
        result[letter] = result[letter] + 1
  return result

print(count_letters("AaBbCc"))
# Should be {'a': 2, 'b': 2, 'c': 2}

# print(count_letters("Math is fun! 2+2=4"))
# # Should be {'m': 1, 'a': 1, 't': 1, 'h': 1, 'i': 1, 's': 1, 'f': 1, 'u': 1, 'n': 1}

# print(count_letters("This is a sentence."))
# # Should be {'t': 2, 'h': 1, 'i': 2, 's': 3, 'a': 1, 'e': 3, 'n': 2, 'c': 1}

aabbcc
True

KeyError: 'a'